<div layout="column" style="position: relative">
  <mat-icon class="bgc-green-500 tc-white-4 border-16 pad-xs" style="position: absolute;top:-32px">person</mat-icon>
  <div class="tc-green-500 mat-caption text-bold">Customer Info</div>
  <div class="mat-xs tc-grey-600">Enter the customer information to see membership info.</div>
  <form class="push-top" layout="column">
    <input type="text" placeholder="Customer Name" class="input-box push-bottom">
    <input type="number" placeholder="Customer Number" class="input-box">
  </form>
</div>
